#contact_modal {
    display: none;
}

.photographer_infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
margin : 0 0 0 50px;
}

.photographer_location {
    margin-bottom:22px;
    font-size: 24px;
}

.photographer_tagline {
    font-size: 18px;
}

.photographer_section img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.photographer_section {
    display: flex;
 }

.photographer_name {
margin-right: 0;
margin-bottom: 22px;
font-size: 64px;
}

.photographer_portrait {
    margin: 0 auto;
    margin-top: 55px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}


.photograph-header {
    background-color: #FAFAFA;
    height: 100%;
    margin: 0 100px;
    padding-bottom : 50px;
}

.content_button button{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.content_button {
    margin: 0 auto;
    margin-top: 110px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

/* Form Style */
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* factory media */

.media_title {
    font-size: 24px;
    margin: 0;
    color: #901C1C;

}
.media_likes {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 10px;
    color: #901C1C;

}
.media_legend {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.media_image {
width: 350px;
height: 300px;
object-fit: cover;
}

.media_video {
width: 350px;
height: 300px;
object-fit: cover;
}

.factory_medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px 100px;
}

.media_card {
    display: flex;
    flex-direction: column;
}

/* menu déroulant */

/* Style du menu déroulant */
.sort-menu {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
}

.sort-menu label {
    margin-right: 10px;
    font-size: 18px;
    color: #000; /* Couleur du texte du label */
    margin-left: 100px;
}

/* Style pour le sélecteur */
.sort-menu select {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #901C1C; /* Couleur de fond du sélecteur */
    color: #fff; /* Couleur du texte */
    text-align: center;
    text-align-last: center; /* Centrer le texte */
}

/* Style pour les options du sélecteur */
.sort-menu select option {
  background-color: #901C1C; /* Couleur de fond des options */
  color: #fff; /* Couleur du texte des options */
  text-align: left; /* Aligner le texte à gauche */
  padding: 10px;
}


/* Label */

.infos_label {
    position: fixed;
    bottom: 0;
    right: 15px;
    background-color: #DB8876;
    padding: 10px 15px;
    margin: 0;
    text-align: center;
    border-radius: 5px;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-left: 100px;
}


/* Modal */

.hidden {
    display: none;
  }

#message {
height: 200px;
width: 100% !important;
display: inline-block;
resize: none;
border-radius: 5px;
padding: 0px !important;
}



header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

header h2, img {
    margin: 0;
}

.contact_button {
    background-color: #901C1C;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 0;
}

.formData {
margin: 0;
}

.photograph_name {
    font-size: 40px;
    margin: 20px 0;
}

